<nav class=" w-full ">
  <ul class="bg-green-700  ">
    <ul class="flex flex-wrap mx-auto lg:px-16 p-1 text-sm  bg-green-500 w-full   "> 
      <!  puede que este ul sea inutil , que se pueda juntar con el anterior>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="inicio"> inicio </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="noticias"> noticias </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="noticias"> noticias </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="noticias"> noticias </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="noticias"> noticias </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="noticias"> noticias </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="registro"> registro </a>
      </li>
      <li class="px-2 py-1 bg-gray-400 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="ingreso"> ingreso </a>
      </li>
    </ul>
  </ul>
</nav>
